<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Qué hago</h2>
                    <h3 class="section-subheading text-muted">"Si amas lo que haces, nunca será un trabajo." - Confucio</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bank fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Psicología</h4>
                    <p class="text-muted">Si hay interacción humana, hay psicología. Es una ciencia viva y presente en el día a día, en el marketing y las ventas, en las reuniones de empresa, incluso, en que vas a llevar puesto para la importante entrevista que tienes hoy.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-area-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Análisis de Datos</h4>
                    <p class="text-muted">En una sociedad con un crecimiento exponencial de los datos es neceario hacer un extensivo análisis de ellos. Pueden ayudar a crear algoritmos de clasificación de clientes, mejorar la eficiencia de los servicios y una mejor programación de los ciclos logísticos.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Coach</h4>
                    <p class="text-muted">El uso de técnicas psicológicas y creativas puede producir grandes cambios en la manera en que se gestionan las demandas tanto profesionales como personales del día a día.</p>
                </div>
            </div>
        </div>
    </section>
